<a href="https://colab.research.google.com/github/SdMujtaba/2025-26-4123-Syed-Mujtaba--AI-B-DS/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

New List: [1, 2, 3, 4, 5, 6]

In [9]:
# Creating tuples
t1 = (10, 20, 30, 40, 50)
t2 = (30, 40, 60)
print("t1:", t1)
print("t2:", t2)

t1: (10, 20, 30, 40, 50)
t2: (30, 40, 60)

In [11]:
# Accessing elements
t1 = (10, 20, 30, 40, 50)
t2 = (30, 40, 60)
print("First element:", t1[0])
print("Last element:", t1[-1])

First element: 10
Last element: 50

In [14]:
# Slicing
t1 = (10, 20, 30, 40, 50)
t2 = (30, 40, 60)
print (t1[1:4])

(20, 30, 40)

In [15]:
# Concatenation
t1 = (10, 20, 30, 40, 50)
t2 = (30, 40, 60)
t3 = t1 + t2
print("Concatenated tuple:", t3)

Concatenated tuple: (10, 20, 30, 40, 50, 30, 40, 60)