<a href="https://colab.research.google.com/github/SdMujtaba/2025-26-4123-Syed-Mujtaba--AI-B-DS/blob/main/WEEK-1/dictionary_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Creating a dictionary
d = {
    "name": "Mujtaba",
    "age": 19,
    "course": "BTech"
    }
print("Original dictionary:", d)

Original dictionary: {'name': 'Mujtaba', 'age': 19, 'course': 'BTech'}

In [10]:
d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Accessing values
print("Name:", d["name"])
print("Age:", d.get("age"))

Name: MJ
Age: 19

In [9]:
d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Adding a new key-value pair
d["college"] = "XYZ University"
print("After adding:", d)

After adding: {'name': 'MJ', 'age': 19, 'course': 'BTech', 'college': 'XYZ University'}

In [8]:
d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Updating value
d["age"] = 21
print("After updating:", d)

After updating: {'name': 'MJ', 'age': 21, 'course': 'BTech'}

In [7]:
d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Removing elements
d.pop("course")
print("After pop:", d)
removed_item = d.popitem()
print("After popitem:", d)
print("Removed item:", removed_item)

After pop: {'name': 'MJ', 'age': 19}
After popitem: {'name': 'MJ'}
Removed item: ('age', 19)

In [6]:
d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Keys, values, items
print("Keys:", d.keys())
print("Values:", d.values())
print("Items:", d.items())

Keys: dict_keys(['name', 'age', 'course'])
Values: dict_values(['MJ', 19, 'BTech'])
Items: dict_items([('name', 'MJ'), ('age', 19), ('course', 'BTech')])

In [5]:
d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Length
print("Length of dictionary:", len(d))

Length of dictionary: 3

In [4]:
d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Looping through dictionary
print("Looping through keys:")
for key in d:
    print(key, ":", d[key])
print("Looping through key-value pairs:")
for k, v in d.items():
    print(k, "->", v)

Looping through keys:
name : MJ
age : 19
course : BTech
Looping through key-value pairs:
name -> MJ
age -> 19
course -> BTech

In [3]:

d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Updating using update()
d.update({"city": "Hyderabad", "age": 22})
print("After update():", d)

After update(): {'name': 'MJ', 'age': 22, 'course': 'BTech', 'city': 'Hyderabad'}

In [2]:

# Nested dictionary
student = {
    "id": 1,
    "info": {
        "name": "Amit",
        "marks": 90
    }
}
print("Nested dictionary value:", student["info"]["marks"])

Nested dictionary value: 90

In [1]:
d = {
    "name": "MJ",
    "age": 19,
    "course": "BTech"
}
# Clearing dictionary
d.clear()
print("After clear:", d)

After clear: {}